/* BUTTON */
a.button {
  height: 6.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: map-get($font-size, "desktop", "small");
  line-height: map-get($line-height, "desktop", "medium");
  letter-spacing: map-get($letter-spacing, "small");

  &-ios {
    background-color: $neutral-color-dark;
    color: $neutral-color-light;

    &::before {
      content: url("../assets/icon-apple.svg");
      width: 1.8rem;
      height: 2.3rem;
      margin-right: 0.8rem;
    }

    &:hover,
    &:active {
      background-color: $primary-color;
    }
  }

  &-android {
    margin-top: 1.8rem;
    background-color: $neutral-color-light;
    color: $neutral-color-dark;

    &::before {
      content: url("../assets/icon-android.svg");
      width: 1.7rem;
      height: 2.3rem;
      margin-right: 0.8rem;
    }

    &:hover,
    &:active {
      background-color: $thirdary-color;
    }
  }
}
