// COLORS
$primary-color: #66e2dc;
$secondary-color: #fa7453;
$thirdary-color: #ffb964;
$neutral-color-dark: #191826;
$neutral-color-light: #fcfaf9;

// FONTS
$font-family: "IBM Plex Sans", sans-serif;
$base-font-size: 62.5%; // 10px

$font-size: (
  "desktop": (
    "x-small": 1.6rem,
    "small": 1.8rem,
    "medium": 2rem,
    "x-medium": 4rem,
    "large": 6.5rem,
    "x-large": 8.8rem
  ),
  "tab": (
    "small": 1.8rem,
    "medium": 3.2rem,
    "large": 6.4rem
  ),
  "mobile": (
    "x-small": 1.6rem,
    "x-medium": 4rem
  )
);

$font-weight: (
  "regular": 400,
  "bold": 700
);

$line-height: (
  "desktop": (
    "small": 2.6rem,
    "medium": 3.2rem,
    "x-medium": 3.4rem,
    "large": 5.2rem,
    "x-large": 8.8rem
  ),
  "tab": (
    "small": 2.8rem,
    "medium": 4rem,
    "large": 6.4rem
  ),
  "mobile": (
    "small": 2.6rem,
    "medium": 4.8rem
  )
);

$letter-spacing: (
  "x-small": -0.1rem,
  "small": -0.018rem,
  "medium": -0.02rem,
  "large": -0.045rem,
  "x-large": -0.073rem
);

// LAYOUT
$breakings-points: (
  "desktop": 1200px,
  "tab": 768px,
  "max-mobile": 576px,
  "mobile": 425px
);
